.button {
  background:#FFF no-repeat center;
  margin:1px 10px;
  padding: 5px 5px 1px;
  float: right;
  border:  2px solid;
  border-radius: 5px;
}

header {
  text-align: center;
  overflow: hidden;
}

.grid {
  display:grid;
}

#left {
  float:left;
  margin:10px;
}

#right {
  float:right;
  margin:30px 10px;
}

#center {
  font-size:50px;
}

.row {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  padding: 2px 5px 7px;
  border-radius: 10px;
}

li {
  margin: 10px;
  border:  2px solid;
  border-radius: 10px;
}

li:nth-child(odd) {
  background:#A4A4A4; 
}

li:nth-child(even) {
  background:#D8D8D8;
}
